<div>
  <a routerLink="/user/create" mat-icon-button color="primary">
    <mat-icon>add_box</mat-icon>
  </a>
</div>

<mat-list>
  <mat-list-item *ngFor="let user of users">
    <p matLine>{{ user.firstName }} {{ user.lastName }}</p>
    <a mat-icon-button [routerLink]="['/user', user.id]">
      <mat-icon matListIcon>edit</mat-icon>
    </a>
    <button mat-icon-button (click)="blockUser(user.id)">
      <mat-icon matListIcon>block</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteUser(user.id)">
      <mat-icon matListIcon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
